/* General Styles */
.page-title {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  background-image: url('../assets/host-event.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  color: white;
}

.container {
  max-width: 800px;
  margin: 10px auto;
  background: #fff;
  padding: 35px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  font-size: 14px;
}

.host-event-form {
  line-height: 1.6;
}

.host-event-form .host-event-input,  .host-event-form textarea  {
  width: 90%;
  padding: 30px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 80px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

.host-event-input[type="text"], .host-event-input[type="number"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Tabs Styles */
.tabs {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.tab {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.tab.active {
  background-color: orange;
  color: white;
  border-color: orange;
}

/* Location Content Styles */
.location-details {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: none;
}

.location-details.active {
  display: block;
}
/* button {
width: 100%;
padding: 10px;
margin-bottom: 15px;
background-color: orange;
color: black;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 14px;
} */