/* General Styles */


.host-event .page-title {
text-align: center;
padding: 20px;
background-color: #e9e5e5;
margin-bottom: 20px;
border-bottom: 1px solid #ddd;
background-image: url('../assets/host_event.jpg');
background-size: cover;
background-position: center;
padding: 50px 0;
color: rgb(255, 255, 255);

}

.host-event .container {
max-width: 800px;
margin: 10px auto;
background: #fff;
padding: 35px;
border-radius: 15px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

.host-event select {
width: 100%; /* Makes it take the full width of its container */
max-width: 300px; /* Set a maximum width if needed */
padding: 8px; /* Optional: Add some padding for better appearance */
font-size: 14px; /* Optional: Adjust font size */
transition: transform 0.1s ;
}

.host-event select:hover{
transform: scale(1.05);
}


.host-event form input, 
.host-event form textarea {
width: 90%;
padding: 30px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 15px;
font-size: 14px;

}
.host-event .host-event-form {
  line-height: 1.6;
}

.host-event .host-event-form .host-event-input, .host-event .host-event-form textarea  {
  width: 90%;
  padding: 30px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;

}

.host-event textarea {
resize: none;
height: 80px;
}

.host-event label {
  display: block;
  margin: 10px 0 5px;
}

/* Button Styles */
.host-event button {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

/* Tabs Styles */
.host-event .tabs {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.host-event .tab {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.host-event .tab.active {
  background-color: orange;
  color: white;
  border-color: orange;
}

/* Location Content Styles */
.host-event .location-details {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: none; /* Hidden by default */
}

.host-event .location-details.active {
  display: block; /* Show active location */
}
.host-event .create-event { 
width: 100%;
padding: 10px;
margin-bottom: 15px;
background-color: orange;
color: black;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 14px;
}

.host-event .create-event:hover {
background-color: #d47130;
}