
:root {
    --primary-color: #ff7f00;
    --primary-color-hover: #e67300;
    --primary-color-active: #cc6600;
    --border-color: #d3d3d3;
    --border-color-hover: #c6c6c6;
    --border-color-active: #8a8a8a;
  }
  
  * {
      font-family: "Roboto", sans-serif;
  }
  
  .btnd {
    display: inline-block;
    font-weight: 400;
    color: #1e1e1e;
    background-color: #f5f5f5;
    border: 1px solid var(--border-color);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .btn:hover {
    background-color: #dcdcdc;
  }
  
  .btn:active {
    background-color: #c4c4c4;
    border-color: #969696;
    outline: none;
  }
  
  .btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  
  .btn-primary:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-active);
  }
  
  
  /* Typography */
  .text-sm {
    font-size: 0.875rem;
  }
  
  .text-md {
    font-size: 1rem;
  }
  
  .text-lg {
    font-size: 1.25rem;
  }
  
  .text-xl {
    font-size: 1.5rem;
  }
  
  .text-xxl {
    font-size: 2rem;
  }
  
  
  /* Spacing */
  
  .m-0 {
    margin: 0;
  }
  
  .m-1 {
    margin: 0.25rem;
  }
  
  .m-2 {
    margin: 0.5rem;
  }
  
  .m-3 {
    margin: 0.75rem;
  }
  
  .m-4 {
    margin: 1rem;
  }
  
  .m-5 {
    margin: 1.25rem;
  }
  
  .m-6 {
    margin: 1.5rem;
  }
  
  .m-7 {
    margin: 1.75rem;
  }
  
  .m-8 {
    margin: 2rem;
  }
  
  /* Padding */
  
  .p-0 {
    padding: 0;
  }
  
  .p-1 {
    padding: 0.25rem;
  }
  
  .p-2 {
    padding: 0.5rem;
  }
  
  .p-3 {
    padding: 0.75rem;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .p-5 {
    padding: 1.25rem;
  }
  
  .p-6 {
    padding: 1.5rem;
  }
  
  .p-7 {
    padding: 1.75rem;
  }
  
  .p-8 {
    padding: 2rem;
  }
  
  /* Input fields */
  
  .input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .input:focus, .input:active {
    color: #495057;
    background-color: #fff;
    outline: none;
    border: 1px solid var(--border-color-active);
  }

  /* Shane Code */

  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title{
    height: 400px;
    width: 1180px;
    background-color: #5b5b5ba6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-weight: bold;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

.event{
    margin: 5% 0%;
}

.event-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event-content{
    margin: 20px;
    width: 310px;
}

.event-img{
    height: 300px;
    width: 300px;
    margin: 20px;
    background-color: #5b5b5ba6;
    border-radius: 20px;
}

.event-title{
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 0.1rem 0;
}

.event-description{
    font-size: 0.9rem;
    font-weight: 300;
    opacity: 0.9;
    text-transform: capitalize;
}

.event-date{
    color: #000000;
    margin-top: 5px;
}

.view-btn{
    height: 30px;
    width: 150px;
    background-color: #fb8b04;
    color: #000000;
    font-family: inherit;
    font-size: 0.7rem;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.view-btn:hover{
    opacity: 0.7;
} */