.event-container {
    display: flex;
    flex-direction: row; /* Cambia a fila para que los elementos estén uno al lado del otro */
    margin: 1rem;
    border-radius: 0.3rem;
    border: 0.1rem solid lightslategray;
}

.event-name {
    margin: 1rem;
    width: 100%; /* Asegura que el nombre del evento ocupe todo el ancho */
}

.event-image {
    margin: 2rem;
    display: flex;
    justify-self: center;
    align-items: center;
}

.event-image img {
    max-width: 100%;
    height: auto;
}

.event-information {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1rem;
}

.event-information section {
    padding: 0.25rem 0;
    margin: 0.25rem 0;
}

.event-description {
    margin-top: 0.5rem;
}

.event-subscription {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-column: 1 / -1;
}

.subscription-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-selector {
    margin-top: 0.75rem;
}

.ticket-quantity {
    display: flex;
    align-items: center;
}

.ticket-quantity button {
    margin: 1rem;
}

.total-price {
    margin: 0.5rem 0;
}

select {
    font-size: 0.875rem;
    text-align: center;
}

select:hover {
    background-color: #c4c4c4;
}